<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Playlist Transfer</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='music-playlist.ico') }}">
	<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
	<h1>
		<h1 style="display: flex; align-items: center; justify-content: center; text-align: center;">
			<img src="/static/playlist-xl.gif" alt="gif image" style="height: 1.7em; margin-right: 0.5em; vertical-align: middle;">
			<span style="vertical-align: middle;">Playlist Transfer</span>
		</h1>
	</h1>
	<div class="glass-container">
		<form method="POST" action="/transfer">
			<label for="amazon_url">Amazon Music Playlist URL:</label>
			<input type="text" name="amazon_url" id="amazon_url"><br><br>
			<label for="playlist_name">Playlist Name:</label>
			<input type="text" name="playlist_name" id="playlist_name"><br><br>
			<input id="transfer-btn" type="submit" value="TRANSFER">
		</form>
		<progress id="progressBar" value={{ progress }} max={{total}}></progress>
	</div>
	<script src = '/static/scripts/prog.js'></script>
</body>


