/* Apply Spotify-like background color and font family to the body */
body {
    background-color: #191414;
    font-family: "Circular", sans-serif;
}

/* Style the heading to be centered, bold and have white color */
h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

/* Style the form */
form {
    margin: 0 auto;
    width: 400px;
}

/* Style the label for the Amazon Music Playlist URL input */
label[for="amazon_url"] {
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

/* Style the Amazon Music Playlist URL input */
input[type="text"][name="amazon_url"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #282828;
    color: #fff;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #1DB954;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
    background-color: #1ED760;
}
